.banner-background {
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}
.banner-background h1, h2 {
  color: white;
  margin-block-end:0px;
  margin-block-start:0px;
  text-shadow:0 0 4px black;
}
.banner-background h2 {
  font-weight: 400;
  font-size: 1rem;
}
