.banner-background {
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  position:relative;
}
.banner-background::before {
  position:absolute;
  content:'';
  bottom:0;
  width:100%;
  height:5px;
  background-color:black;
  animation-name:timerAnimation;
  animation-duration:4s;
  left:0;
  animation-iteration-count:infinite;
}
.banner-background.wait::before {
  animation-play-state:paused;
}
@keyframes timerAnimation {
  from {
    width:100%;
  }
  to {
    width:0px;
  }
}
.banner-background h1, h2 {
  color: white;
  margin-block-end:0px;
  margin-block-start:0px;
  text-shadow:0 0 4px black;
}
.banner-background h2 {
  font-weight: 400;
  font-size: 1rem;
}
